* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
  background: #F9F9F9;
}

main {
  margin: 50px;
}

/* Header and Search Bar Styling */

.searchInput {
  width: 80%;
  line-height: 20px;
}

.searchButton {
  line-height: 21px;
  background: #312D28;
  color: #F2F2F2;
  font-weight: 700;
  border-radius: 0 3px 3px 0;
}

.headerImage {
  max-width: 100%;
}

/* Photo Display Area Styling */

.thumbnailDisplay:hover {
  cursor: pointer;
}

.thumbnailDisplay {
margin: 10px;
}

.noSearchResultsMessageDiv p {
  font-size: 0.5 rem;
}

.expandedPhoto {
  max-width: 90%;
}

.hidden {
  display: none;
}

.categorySearch {
  font-weight: 700;
  padding: 5px;
  margin: 10px;
  /* border: 0.5px solid #EAEAEA; */
  background: #312D28;
  color: #F2F2F2;
  border-radius: 3px;
}